# Ignore the virtual environment
venv/
.venv/
ENV/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore local databases (we will generate these locally)
*.db
*.sqlite3

# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore .txt files 
activate_venv.txt
responsability_of_each_module.txt

# Ignore the diagram direcotry
diagrams/